:root {
    font-family: 'Cairo', sans-serif;
}

body,
button,
input,
select,
textarea {
    font-family: inherit;
}

.react-tabs__tab-list {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.border{
    border: 1px solid red;
}