.category-inventory-report {
  font-family: 'Cairo', sans-serif;
  
  table {
    font-family: 'Cairo', sans-serif;
    width: 100%;
    
    th, td {
      font-family: 'Cairo', sans-serif;
    }
  }
  
  .ant-select,
  .ant-picker,
  .ant-btn,
  label {
    font-family: 'Cairo', sans-serif;
  }
}

